{% extends 'baseautenticate.html' %}
{% load static %}
{% block title %}
    Game Zone
{% endblock title %}
{% csrf_token %}
{% block content %}    
{% include "includes/headershop.html" %}
    <div class="container">
        <div class="row">
        {% for producto in productos %}
            <div class="col-sm-4" style="margin-top: 1rem;">
                <div class="coli card" style="width: 20rem; border: 3px solid rgb(223 37 51); border-radius: 0.38rem; background: #101010; color: white;" >
                <img src="{{producto.imagen.url}}" class="card-img-top" alt="..." style="width: 19.6rem; height: 16.5rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{producto.marca}} - {{producto.modelo}}</h5>
                    <p class="card-text">{{producto.categoria}}</p>
                    <p class="card-text">${{producto.precio}}</p>
                    <a href="{% url 'prod_app:Add' producto.id %}" class="btn" style="background :#df2533; border-color: #101010; color: antiquewhite;">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endblock content %}